<h2 class="text-muted mt-5 text-center">
  <% if @products.any? %>
    <%= @products.count %> resultados encontrados:
  <% else %>
    Nenhum Resultado encontrado
  <% end %>
</h2>

<% @products.each do |product| %>
  <ul>
    <li>
      <%= @product.product_description %>
    </li>
  </ul>
<% end %>