      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span class="footer-new">Copyright &copy; Catálogo Nestlé <%= Date.current.year %> - <a class="link" href="https://br.linkedin.com/in/fabriciobonjorno" target="_blank">Feito por: Fabricio Bonjorno</a>.</span>
          </div>
        </div>
      </footer>