    
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Catalogo Nestlé</div>
  </a>
  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  <!-- Divider -->
  <hr class="sidebar-divider">
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <span> <%= link_to 'Grupos', dashboard_groups_path, class: "nav-link collapsed" %></span>
  </li>
  <li class="nav-item">
    <span> <%= link_to 'Familias', dashboard_families_path, class: "nav-link collapsed" %></span>
  </li>
  <li class="nav-item">
    <span> <%= link_to 'Classificações', dashboard_tax_classifications_path, class: "nav-link collapsed" %></span>
  </li>
  <li class="nav-item">
    <span> <%= link_to 'Produtos', dashboard_products_path, class: "nav-link collapsed" %></span>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">
  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
