<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; <%= Date.current.year %> - <a class="link" href="https://br.linkedin.com/in/fabriciobonjorno" target="_blank">Feito por: Fabricio Bonjorno</a>.</p>
  </div>
</footer>
