    
<div class="col-lg-3 mt-5">
  <div class="list-group">
    <% @groups.each do |group| %>
      <a href="#" class="list-group-item"><%= group.group_description %></a>
    <% end %>
  </div>
</div>
